doc
npm-debug.log
/node_modules
.npmrc
/src/**/*.js
/**/*.orig
/.vscode
/.ignored
tsconfig-local.json
debug.log
npm-debug.log*
/.idea
cSpell.json
/coverage
/testresults
Dockerfile
Jenkinsfile
.sonarlint
karma_html
/docs
